@import "common.scss";
@import "variables.scss";
@import "animation.scss";

.launcher {
  @include animation(0, 0.5s, slide-in);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow-1;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 1px $grey-3;
  height: 60px;
  margin-top: 10px;
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;

  &:focus {
    outline: none;
  }
  
  &.hide {
    display: none
  }

  &.full-screen {
    @include launcher-fs;
  }
  
  img {
    width: 70%;
    max-height: 70%;
    object-fit: contain;
  }
  
}

.launcher-box {
  height: 220px;
  width: 270px;
  position: relative;
}

.launcher-close {
  height: 70px;
}

.bubble {
  width: 100%;
  height: 120px;
	box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
	background: $yellow-1;
  border-radius: .4em;
  padding: 15px;
  box-shadow: 0px 2px 5px 1px #b5b5b5;
  display: none;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 75%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: $yellow-1;
	border-bottom: 0;
	border-right: 0;
	margin-left: -15px;
  margin-bottom: -30px;
}

.bubble-avatar {
  width: 70px;
  height: auto;
  float: left;
  margin-top:6px;
}

.bubble-desc {
  margin-left: 60px;
  word-wrap: break-word;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 10px;
  font-family: $roboto;
}

.bubble-close {
  position: absolute;
  top:5px;
  right: 10px;
  box-sizing: border-box;
  font-size: 20px;
  color: #979797;
  cursor: pointer;
}

.bubble-close::before {
  content: '\00d7';
}

.open-launcher {
  @include animation(0, 0.5s, rotation-rl);
}

.close-launcher {
  &.default {
    width: 20px !important;
  }
  @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px) {
  .launcher {
    @include launcher-fs;
  }

  .hide-sm {
    display: none;
  }

  .launcher-box {
    height: 240px;
  }
}
