@import "animation.scss";
@import "common.scss";

.widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  position: fixed;
  right: 0;
  width: auto;
  z-index: 8888;
  align-items: flex-end;
  justify-content: flex-end;

  &.full-screen.chat-open {
    @include widget-container-fs;
  }
}

.widget-embedded {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .widget-container.chat-open {
    @include widget-container-fs;
  }
}
