@import "variables.scss";
@import "common.scss";

.messages-container {
  background-color: $white;
  height: 50vh;
  max-height: 425px;
  overflow-y: auto;
  padding-top: 10px;
  overflow-x: hidden;
}

.widget-embedded {
  .messages-container {
    height: 100vh;
    max-height: 100%;
  }
}

.full-screen {

  .messages-container {
    @include messages-container-fs;
  }
}

@media screen and (max-width: 800px)  {
  .messages-container {
    @include messages-container-fs;
  }
}

.iframe-modal {
  position: relative;
  height: 100vh;
  height: 100%;
  width: 100%;
  // background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.iframe-content {
  margin: 5% auto;
  background:url('../../../../../../../assets/spinner.svg')center center no-repeat #FFFFFF;
  border: 1px solid #d1cece;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  width: 80%;
  z-index: 9999;
  height: 80%;
}

.iframe-close {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: rgb(160, 158, 158);
  font-family: $roboto;
}