@import "variables.scss";
@import "common.scss";

.conversation-container {
  .header {
    background-color: $blue-1;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // height: 55px;
    font-family: $roboto;
    padding: 10px 0;
  }

  .header img {
    width: 40%;
    margin: auto;
    max-height: 40px;
    max-width: 120px;
  }

  .title {
    font-size: 20px;
    margin: 0;
    font-family: $roboto;
  }

  .close-button {
    display: none;
  }

  .loading {
    background-color: $grey-3;
    color: $white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0 5px;
    font-family: $roboto;
    font-size: 14px;
  }
}

.widget-embedded {
  .header {
    display: none;
  }
}

.full-screen {

  .header {
    @include header-fs;
  }

  .title {
    @include title-fs;
  }

  .close-button {
    @include close-button-fs;
  }

  .close {
    @include close-fs;
  }

  .loading {
    @include loading-fs;
  }
}

@media screen and (max-width: 800px) {
  .conversation-container {
    .header {
      @include header-fs;
    }

    .title {
      @include title-fs;
    }

    .close-button {
      @include close-button-fs;
    }

    .close {
      @include close-fs;
    }

    .loading {
      @include loading-fs;
    }
  }
}

.termsAndAgreement {
  font-size: 0.6em; 
  background-color: lightyellow; 
  color: rgb(0, 58, 99);
  padding: 5px;
  text-align: center;
  font-family: $roboto;
}

.termsLink {
  font-weight: bold; 
  color: rgb(0, 58, 99);
  font-family: $roboto;
}