@import "variables.scss";
@import "common.scss";

.snippet {
  // @include message-bubble($grey-2, #000);
  background-color: #fff;
  // margin: auto;
  color: #000;
  border-radius: 10px;
  // padding: 15px;
  max-width: 80%;
  text-align: left;
  font-family: "Roboto", serif;
  // max-width: 60%;
  margin-left: -10px;
  min-width: 80%;
}

.snippet-title {
  margin: 0;
}

.snippet-details {
  border-left: 2px solid $green-1;
  margin-top: 5px;
  padding-left: 10px;
}

.link {
  font-family: $roboto;
}

.slick-initialized {
  width: 100%;
  margin: auto;
}

.slick-prev:before, .slick-next:before{
  color: #426591;
  font-size: 25px;
}

.slick-prev, .slick-next {
  top: 45%;
  width: 25px!important;
  height: 25px!important;
}

.slick-prev {
  left: -30px;
}

.slick-prev::before {
  content: '←'!important;
}

.slick-next::before {
  content: '→'!important;
}

.slick-next {
  right:  -10px!important;
}


.slick-slide {
  // height: auto;
  // min-height: 75% !important;
  height: auto;
  border: 5px solid white;
  border-radius: 1em;
  opacity: 0.6;
  padding: 0.5em;
  background-color: #426591;
  color: #fff;
  box-sizing: border-box;
}

.slick-slide:active,
.slick-slide:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

/* <!-- .slick-slide img { -->
  <!-- width: 70%; -->
  <!-- margin: auto; -->
<!-- } --> */

.slick-current {
  opacity: 1;
}

.snippet a {
  text-decoration: none;
  font-size: 0.7em;
  background-color: #426591;
  border-color: #426591;
}

.item-name {
  margin: 0;
  font-size: 0.7em;
}

.embed-responsive {
  height: auto;
  margin-bottom: 10px;
}

.slick-slide img {
  width: 100%;
  object-fit: "cover";
  height: 150px;
}

.location-name {
  font-size: 14px;
}

.subtitle {
  font-size: 12px;
}

.content {
  /* text-align: center; */
  position: relative;
  padding-bottom: 25px;
  height: 300px;
}

.view-map {
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
  margin-left: -5px;
}

.view-map a {
  font-size: 0.9em;
  color: #FFFFFF;
  text-align: center;
}


.replies {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  font-size: 14px;
  font-family: $roboto;
  max-width: 300px;
}

.reply {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-color: $blue-2;
  border-radius: 15px;
  border-width: 1px;
  color: $blue-2;
  border-style: solid;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  max-width: 215px;
  min-height: 1.7em;
  text-align: center;
  font-family: $roboto;
  cursor: pointer;
  margin: 0.25em;
}

.response {
  @include message-bubble($grey-2, #000);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 10px;
  max-width: 60px;
}